<div class="container">
    <div class="footer__inner">
        <!-- Footer List -->
        <div class="footer__list row row-cols-lg-5 row-cols-md-2 row-cols-sm-2 row-cols-1">
            <!-- Item 1 -->
            <div class="col">
                <div class="footer-item">
                    <div class="footer-item__title">CUSTOMER CARE</div>
                    <ul class="footer-item-lt">
                        <li>
                            <a href="" class="footer-item__link">
                                <span class="">Help Center</span>
                            </a>
                        </li>
                        <li>
                            <a href="" class="footer-item__link">
                                <span class="">Shopping Guide</span>
                            </a>
                        </li>
                        <li>
                            <a href="" class="footer-item__link">
                                <span class="">Sales Guide</span>
                            </a>
                        </li>
                        <li>
                            <a href="" class="footer-item__link">
                                <span class="">Pay</span>
                            </a>
                        </li>
                        <li>
                            <a href="" class="footer-item__link">
                                <span class="">Transport</span>
                            </a>
                        </li>
                        <li>
                            <a href="" class="footer-item__link">
                                <span class="">Return For Refund</span>
                            </a>
                        </li>
                        <li>
                            <a href="" class="footer-item__link">
                                <span class="">Warranty Policy</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Item 2 -->
            <div class="col">
                <div class="footer-item">
                    <div class="footer-item__title">HCV MART</div>
                    <ul class="footer-item-lt">
                        <li>
                            <a href="" class="footer-item__link">
                                <span class="">Introduce</span>
                            </a>
                        </li>
                        <li>
                            <a href="" class="footer-item__link">
                                <span class="">Recruitment</span>
                            </a>
                        </li>
                        <li>
                            <a href="" class="footer-item__link">
                                <span class="">Rules</span>
                            </a>
                        </li>
                        <li>
                            <a href="" class="footer-item__link">
                                <span class="">Seller Channel</span>
                            </a>
                        </li>
                        <li>
                            <a href="" class="footer-item__link">
                                <span class="">Flash Sales</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Item 3 -->
            <div class="col">
                <div class="footer-item">
                    <div class="footer-item__title">PAYMENT METHOD</div>
                    <ul class="footer-item-lt footer-item-fl">
                        <li>
                            <a href="" class="footer-item__link">
                                <img src="./assets/icons/method-01.svg" alt="method" class="footer-item__tag" />
                            </a>
                        </li>
                        <li>
                            <a href="" class="footer-item__link">
                                <img src="./assets/icons/method-02.svg" alt="method" class="footer-item__tag" />
                            </a>
                        </li>
                        <li>
                            <a href="" class="footer-item__link">
                                <img src="./assets/icons/method-03.svg" alt="method" class="footer-item__tag" />
                            </a>
                        </li>
                        <li>
                            <a href="" class="footer-item__link">
                                <img src="./assets/icons/method-04.svg" alt="method" class="footer-item__tag" />
                            </a>
                        </li>
                        <li>
                            <a href="" class="footer-item__link">
                                <img src="./assets/icons/method-05.svg" alt="method" class="footer-item__tag" />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Item 4 -->
            <div class="col">
                <div class="footer-item">
                    <div class="footer-item__title">CUSTOMER CARE</div>
                    <ul class="footer-item-lt">
                        <li>
                            <a href="" class="footer-item__link">
                                <img src="./assets/icons/facebook.svg" alt="facebook" class="footer-item__social" />
                                <span class="">Face Book</span>
                            </a>
                        </li>
                        <li>
                            <a href="" class="footer-item__link">
                                <img src="./assets/icons/twitter.svg" alt="twitter" class="footer-item__social" />
                                <span class="">Twitter</span>
                            </a>
                        </li>
                        <li>
                            <a href="" class="footer-item__link">
                                <img src="./assets/icons/lindedin.svg" alt="linkedin" class="footer-item__social" />
                                <span class="">Linkedin</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Item 5 -->
            <div class="col">
                <div class="footer-item">
                    <div class="footer-item__title">GET THE APP</div>
                    <ul class="footer-item-lt">
                        <li>
                            <a href="" class="footer-item__link">
                                <img
                                    src="../assets/icons/AppStore.svg"
                                    alt="AppStore"
                                    class="icon footer-item__social"
                                />
                            </a>
                        </li>
                        <li>
                            <a href="" class="footer-item__link">
                                <img
                                    src="../assets/icons/GooglePlay.svg"
                                    alt="GooglePlay"
                                    class="icon footer-item__social"
                                />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-separate"></div>
        <div class="footer__bottom">
            <span class="footer__bottom-copyright">© 2023 HCV MART. All rights reserved.</span>
        </div>
    </div>
</div>
