<main class="home">
    <!-- --------------------- Banners ------------------------->
    <section class="banners">
        <div class="container">
            <div class="banners__inner">
                <img src="./assets/img/home-banners.png" alt="" class="banners-img" />
            </div>
        </div>
    </section>

    <!-- --------------------- Categories ------------------------->
    <section class="categories">
        <div class="container">
            <div class="categories__inner">
                <span class="categories__title">Browse Categories</span>
                <!-- ----- Categories List ------ -->
                <div class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-2 row-cols-xl-3 g-3 categories__list">
                    <!-- item 1 -->
                    <div class="col">
                        <a href="#">
                            <div class="categories-item">
                                <figure class="categories__media">
                                    <img src="./assets/img/categories-img-01.png" alt="" class="categories-img" />
                                </figure>
                                <div class="categories-item__content">
                                    <span class="categories-item__price"> $24 - $150 </span>
                                    <p class="categories-item__desc">New sumatra mandeling coffe blend</p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <!-- item 2 -->
                    <div class="col">
                        <a href="#">
                            <div class="categories-item">
                                <figure class="categories__media">
                                    <img src="./assets/img/categories-img-02.png" alt="" class="categories-img" />
                                </figure>
                                <div class="categories-item__content">
                                    <span class="categories-item__price"> $37 - $160 </span>
                                    <p class="categories-item__desc">Espresso arabica and robusta beans</p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <!-- item 3 -->
                    <div class="col">
                        <a href="#">
                            <div class="categories-item">
                                <figure class="categories__media">
                                    <img src="./assets/img/categories-img-03.png" alt="" class="categories-img" />
                                </figure>
                                <div class="categories-item__content">
                                    <span class="categories-item__price"> $32 - $160 </span>
                                    <p class="categories-item__desc">Lavazza top class whole bean coffee blend</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- --------------------- Product ------------------------->
    <section class="product">
        <div class="container">
            <div class="product__inner">
                <!-- Product top -->
                <div class="product__top">
                    <span class="product__title">All Product LavAzza</span>
                    <button class="product__filter">
                        Filter
                        <img src="./assets/icons/filter.svg" alt="" class="icon product__filter-icon" />
                        <div class="filter-dropdown">
                            <div class="filter-dropdown__inner">

                            </div>
                        </div>
                    </button>
                </div>
                <!-- Product list -->
                <div class="product__list row row-clos-1 row-cols-md-2 row-cols-lg-4 row-cols-xl-4 g-3">
                    <!-- item 1 -->
                    <div class="col">
                        <div class="product-item">
                            <a href="#">
                                <figure class="product-item__media">
                                    <img src="./assets/img/product-img-01.png" alt="" class="product-item__img" />
                                    <button class="product-favorite">
                                        <input type="checkbox" class="product-item__like" id="product-item__like" />
                                        <img
                                            src="./assets/icons/favorite-icon.svg"
                                            alt=""
                                            class="product-favorite__icon"
                                        />
                                        <img
                                            src="./assets/icons/favorite-act-icon.svg"
                                            alt=""
                                            class="product-favorite__icon-act"
                                        />
                                    </button>
                                </figure>
                                <div class="product-item__content">
                                    <h3 class="product-item__heading">
                                        Coffee Beans - Espresso Arabica and Robusta Beans
                                    </h3>
                                    <span class="product-item__trademark">Lavazza </span>
                                    <div class="product-item__bottom">
                                        <strong class="product-item__price">$47.00 </strong>
                                        <div class="product-item__ratings">
                                            <span class="product-ratings__data"> 4.3 </span>
                                            <img
                                                src="./assets/icons/star-icon.svg"
                                                alt=""
                                                class="product-rating__img"
                                            />
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- item 2 -->
                    <div class="col">
                        <div class="product-item">
                            <a href="#">
                                <figure class="product-item__media">
                                    <img src="./assets/img/product-img-02.png" alt="" class="product-item__img" />
                                    <button class="product-favorite">
                                        <input type="checkbox" class="product-item__like" id="product-item__like" />
                                        <img
                                            src="./assets/icons/favorite-icon.svg"
                                            alt=""
                                            class="product-favorite__icon"
                                        />
                                        <img
                                            src="./assets/icons/favorite-act-icon.svg"
                                            alt=""
                                            class="product-favorite__icon-act"
                                        />
                                    </button>
                                </figure>
                                <div class="product-item__content">
                                    <h3 class="product-item__heading">
                                        Lavazza Coffee Blends - Try the Italian Espresso
                                    </h3>
                                    <span class="product-item__trademark">Lavazza </span>
                                    <div class="product-item__bottom">
                                        <strong class="product-item__price">$53.00 </strong>
                                        <div class="product-item__ratings">
                                            <span class="product-ratings__data"> 3.4 </span>
                                            <img
                                                src="./assets/icons/star-icon.svg"
                                                alt=""
                                                class="product-rating__img"
                                            />
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- item 3 -->
                    <div class="col">
                        <div class="product-item">
                            <a href="#">
                                <figure class="product-item__media">
                                    <img src="./assets/img/product-img-03.png" alt="" class="product-item__img" />
                                    <button class="product-favorite">
                                        <input type="checkbox" class="product-item__like" id="product-item__like" />
                                        <img
                                            src="./assets/icons/favorite-icon.svg"
                                            alt=""
                                            class="product-favorite__icon"
                                        />
                                        <img
                                            src="./assets/icons/favorite-act-icon.svg"
                                            alt=""
                                            class="product-favorite__icon-act"
                                        />
                                    </button>
                                </figure>
                                <div class="product-item__content">
                                    <h3 class="product-item__heading">
                                        Qualità Oro Mountain Grown - Espresso Coffee Beans
                                    </h3>
                                    <span class="product-item__trademark">Lavazza </span>
                                    <div class="product-item__bottom">
                                        <strong class="product-item__price">$38.65 </strong>
                                        <div class="product-item__ratings">
                                            <span class="product-ratings__data"> 4.4 </span>
                                            <img
                                                src="./assets/icons/star-icon.svg"
                                                alt=""
                                                class="product-rating__img"
                                            />
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- item 4 -->
                    <div class="col">
                        <div class="product-item">
                            <a href="#">
                                <figure class="product-item__media">
                                    <img src="./assets/img/product-img-04.png" alt="" class="product-item__img" />
                                    <button class="product-favorite">
                                        <input type="checkbox" class="product-item__like" id="product-item__like" />
                                        <img
                                            src="./assets/icons/favorite-icon.svg"
                                            alt=""
                                            class="product-favorite__icon"
                                        />
                                        <img
                                            src="./assets/icons/favorite-act-icon.svg"
                                            alt=""
                                            class="product-favorite__icon-act"
                                        />
                                    </button>
                                </figure>
                                <div class="product-item__content">
                                    <h3 class="product-item__heading">
                                        Lavazza - Caffè Espresso Black Tin - Ground coffee
                                    </h3>
                                    <span class="product-item__trademark">welikecoffee </span>
                                    <div class="product-item__bottom">
                                        <strong class="product-item__price">$99.99</strong>
                                        <div class="product-item__ratings">
                                            <span class="product-ratings__data"> 5.0 </span>
                                            <img
                                                src="./assets/icons/star-icon.svg"
                                                alt=""
                                                class="product-rating__img"
                                            />
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- item 5 -->
                    <div class="col">
                        <div class="product-item">
                            <a href="#">
                                <figure class="product-item__media">
                                    <img src="./assets/img/product-img-02.png" alt="" class="product-item__img" />
                                    <button class="product-favorite">
                                        <input type="checkbox" class="product-item__like" id="product-item__like" />
                                        <img
                                            src="./assets/icons/favorite-icon.svg"
                                            alt=""
                                            class="product-favorite__icon"
                                        />
                                        <img
                                            src="./assets/icons/favorite-act-icon.svg"
                                            alt=""
                                            class="product-favorite__icon-act"
                                        />
                                    </button>
                                </figure>
                                <div class="product-item__content">
                                    <h3 class="product-item__heading">
                                        Lavazza Coffee Blends - Try the Italian Espresso
                                    </h3>
                                    <span class="product-item__trademark">Lavazza </span>
                                    <div class="product-item__bottom">
                                        <strong class="product-item__price">$53.00 </strong>
                                        <div class="product-item__ratings">
                                            <span class="product-ratings__data"> 3.4 </span>
                                            <img
                                                src="./assets/icons/star-icon.svg"
                                                alt=""
                                                class="product-rating__img"
                                            />
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- item 6 -->
                    <div class="col">
                        <div class="product-item">
                            <a href="#">
                                <figure class="product-item__media">
                                    <img src="./assets/img/product-img-01.png" alt="" class="product-item__img" />
                                    <button class="product-favorite">
                                        <input type="checkbox" class="product-item__like" id="product-item__like" />
                                        <img
                                            src="./assets/icons/favorite-icon.svg"
                                            alt=""
                                            class="product-favorite__icon"
                                        />
                                        <img
                                            src="./assets/icons/favorite-act-icon.svg"
                                            alt=""
                                            class="product-favorite__icon-act"
                                        />
                                    </button>
                                </figure>
                                <div class="product-item__content">
                                    <h3 class="product-item__heading">
                                        Coffee Beans - Espresso Arabica and Robusta Beans
                                    </h3>
                                    <span class="product-item__trademark">Lavazza </span>
                                    <div class="product-item__bottom">
                                        <strong class="product-item__price">$47.00 </strong>
                                        <div class="product-item__ratings">
                                            <span class="product-ratings__data"> 4.3 </span>
                                            <img
                                                src="./assets/icons/star-icon.svg"
                                                alt=""
                                                class="product-rating__img"
                                            />
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- item 7 -->
                    <div class="col">
                        <div class="product-item">
                            <a href="#">
                                <figure class="product-item__media">
                                    <img src="./assets/img/product-img-04.png" alt="" class="product-item__img" />
                                    <button class="product-favorite">
                                        <input type="checkbox" class="product-item__like" id="product-item__like" />
                                        <img
                                            src="./assets/icons/favorite-icon.svg"
                                            alt=""
                                            class="product-favorite__icon"
                                        />
                                        <img
                                            src="./assets/icons/favorite-act-icon.svg"
                                            alt=""
                                            class="product-favorite__icon-act"
                                        />
                                    </button>
                                </figure>
                                <div class="product-item__content">
                                    <h3 class="product-item__heading">
                                        Lavazza - Caffè Espresso Black Tin - Ground coffee
                                    </h3>
                                    <span class="product-item__trademark">welikecoffee </span>
                                    <div class="product-item__bottom">
                                        <strong class="product-item__price">$99.99</strong>
                                        <div class="product-item__ratings">
                                            <span class="product-ratings__data"> 5.0 </span>
                                            <img
                                                src="./assets/icons/star-icon.svg"
                                                alt=""
                                                class="product-rating__img"
                                            />
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- item 8 -->
                    <div class="col">
                        <div class="product-item">
                            <a href="#">
                                <figure class="product-item__media">
                                    <img src="./assets/img/product-img-03.png" alt="" class="product-item__img" />
                                    <button class="product-favorite">
                                        <input type="checkbox" class="product-item__like" id="product-item__like" />
                                        <img
                                            src="./assets/icons/favorite-icon.svg"
                                            alt=""
                                            class="product-favorite__icon"
                                        />
                                        <img
                                            src="./assets/icons/favorite-act-icon.svg"
                                            alt=""
                                            class="product-favorite__icon-act"
                                        />
                                    </button>
                                </figure>
                                <div class="product-item__content">
                                    <h3 class="product-item__heading">
                                        Qualità Oro Mountain Grown - Espresso Coffee Beans
                                    </h3>
                                    <span class="product-item__trademark">Lavazza </span>
                                    <div class="product-item__bottom">
                                        <strong class="product-item__price">$38.65 </strong>
                                        <div class="product-item__ratings">
                                            <span class="product-ratings__data"> 4.4 </span>
                                            <img
                                                src="./assets/icons/star-icon.svg"
                                                alt=""
                                                class="product-rating__img"
                                            />
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- item 9 -->
                    <div class="col">
                        <div class="product-item">
                            <a href="#">
                                <figure class="product-item__media">
                                    <img src="./assets/img/product-img-03.png" alt="" class="product-item__img" />
                                    <button class="product-favorite">
                                        <input type="checkbox" class="product-item__like" id="product-item__like" />
                                        <img
                                            src="./assets/icons/favorite-icon.svg"
                                            alt=""
                                            class="product-favorite__icon"
                                        />
                                        <img
                                            src="./assets/icons/favorite-act-icon.svg"
                                            alt=""
                                            class="product-favorite__icon-act"
                                        />
                                    </button>
                                </figure>
                                <div class="product-item__content">
                                    <h3 class="product-item__heading">
                                        Qualità Oro Mountain Grown - Espresso Coffee Beans
                                    </h3>
                                    <span class="product-item__trademark">Lavazza </span>
                                    <div class="product-item__bottom">
                                        <strong class="product-item__price">$38.65 </strong>
                                        <div class="product-item__ratings">
                                            <span class="product-ratings__data"> 4.4 </span>
                                            <img
                                                src="./assets/icons/star-icon.svg"
                                                alt=""
                                                class="product-rating__img"
                                            />
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- item 10 -->
                    <div class="col">
                        <div class="product-item">
                            <a href="#">
                                <figure class="product-item__media">
                                    <img src="./assets/img/product-img-04.png" alt="" class="product-item__img" />
                                    <button class="product-favorite">
                                        <input type="checkbox" class="product-item__like" id="product-item__like" />
                                        <img
                                            src="./assets/icons/favorite-icon.svg"
                                            alt=""
                                            class="product-favorite__icon"
                                        />
                                        <img
                                            src="./assets/icons/favorite-act-icon.svg"
                                            alt=""
                                            class="product-favorite__icon-act"
                                        />
                                    </button>
                                </figure>
                                <div class="product-item__content">
                                    <h3 class="product-item__heading">
                                        Lavazza - Caffè Espresso Black Tin - Ground coffee
                                    </h3>
                                    <span class="product-item__trademark">welikecoffee </span>
                                    <div class="product-item__bottom">
                                        <strong class="product-item__price">$99.99</strong>
                                        <div class="product-item__ratings">
                                            <span class="product-ratings__data"> 5.0 </span>
                                            <img
                                                src="./assets/icons/star-icon.svg"
                                                alt=""
                                                class="product-rating__img"
                                            />
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- item 11 -->
                    <div class="col">
                        <div class="product-item">
                            <a href="#">
                                <figure class="product-item__media">
                                    <img src="./assets/img/product-img-02.png" alt="" class="product-item__img" />
                                    <button class="product-favorite">
                                        <input type="checkbox" class="product-item__like" id="product-item__like" />
                                        <img
                                            src="./assets/icons/favorite-icon.svg"
                                            alt=""
                                            class="product-favorite__icon"
                                        />
                                        <img
                                            src="./assets/icons/favorite-act-icon.svg"
                                            alt=""
                                            class="product-favorite__icon-act"
                                        />
                                    </button>
                                </figure>
                                <div class="product-item__content">
                                    <h3 class="product-item__heading">
                                        Lavazza Coffee Blends - Try the Italian Espresso
                                    </h3>
                                    <span class="product-item__trademark">Lavazza </span>
                                    <div class="product-item__bottom">
                                        <strong class="product-item__price">$53.00 </strong>
                                        <div class="product-item__ratings">
                                            <span class="product-ratings__data"> 3.4 </span>
                                            <img
                                                src="./assets/icons/star-icon.svg"
                                                alt=""
                                                class="product-rating__img"
                                            />
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- item 12 -->
                    <div class="col">
                        <div class="product-item">
                            <a href="#">
                                <figure class="product-item__media">
                                    <img src="./assets/img/product-img-01.png" alt="" class="product-item__img" />
                                    <button class="product-favorite">
                                        <input type="checkbox" class="product-item__like" id="product-item__like" />
                                        <img
                                            src="./assets/icons/favorite-icon.svg"
                                            alt=""
                                            class="product-favorite__icon"
                                        />
                                        <img
                                            src="./assets/icons/favorite-act-icon.svg"
                                            alt=""
                                            class="product-favorite__icon-act"
                                        />
                                    </button>
                                </figure>
                                <div class="product-item__content">
                                    <h3 class="product-item__heading">
                                        Coffee Beans - Espresso Arabica and Robusta Beans
                                    </h3>
                                    <span class="product-item__trademark">Lavazza </span>
                                    <div class="product-item__bottom">
                                        <strong class="product-item__price">$47.00 </strong>
                                        <div class="product-item__ratings">
                                            <span class="product-ratings__data"> 4.3 </span>
                                            <img
                                                src="./assets/icons/star-icon.svg"
                                                alt=""
                                                class="product-rating__img"
                                            />
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Product bottom -->
                <div class="product__bottom">
                    <button class="product__bottom-more">
                        More
                        <img src="./assets/icons/arrow-right.svg" alt="" class="icon product__bottom-icon" />
                    </button>
                </div>
            </div>
        </div>
    </section>
</main>
